<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Angular5</title>
  <style>
      div#user{
          background: rgb(173, 173, 173);
          float: initial;
          width: 150px;
          height: 100px;
      }
      div#content{
          border: solid rgb(0, 0, 0) 10px;
          float: none;
          padding: 5px;
          background: rgb(255, 255, 255);
      }
  </style>
</head>

<body ng-app>
    <input type="text" ng-model="query"/>    
    <select ng-model="order" name="" id="">
        <option value="username">Organiser par nom</option>
        <option value="email">Organiser par E-mail</option>
    </select>
    <dir id=content ng-init=
    "comment = [{username:'Marc', email:'aarc@gmail.com'},
              {username:'john', email:'cohn@gmail.com'},
              {username:'pierre', email:'bierre@gmail.com'}
             ]">
            <div id="user" ng-repeat="comment in comments | filter:query | orderBy:order">
                <p>
                    <strong>
                        {{comment.username}}
                    </strong>
                    <br>
                    <p>
                        {{comment.email}}
                    </p>
                </p>
            </div>
        </ul>
    </dir>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
</body>
</html>
